@{
    ViewData["Title"] = "Confirmação deletar contato";
}

<div class="text-center">
    <h3 class="display-4">Realmente deseja deletar o contato ()?</h3><br />
</div>
<br />

<a class="btn btn-primary" role="button">Cancelar</a>
<a class="btn btn-danger"  role="button"> Confirmar</a>

