@{
    ViewData["Title"] = "Confirmação deletar contato";
}

<div class="text-center">
    <h3 class="display-4">Realmente deseja deletar o contato ()?</h3><br />
</div>
<br />

<a class="btn btn-primary" asp-controller="Contato" asp-action="Index" role="button">Cancelar</a>
<a class="btn btn-danger" asp-controller="Contato" asp-action="Deletar" role="button">Confirmar</a>

