@model Login
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}
<div class="text-center">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm btn-close" arial-label="Close"></button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm btn-close" arial-label="Close"></button>
            @TempData["MensagemErro"]
        </div>
    } <br /> 
</div>
<br />
<form asp-controller="Login" asp-action="Entrar" method="post">
  <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input type="text" asp-for="LoginEntrar" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.LoginEntrar)
  </div>
  <div class="mb-3">
    <label for="senha" class="form-label">Password</label>
        <input type="password" asp-for="Senha" class="form-control" id="senha">
        @Html.ValidationMessageFor(x => x.Senha)
  </div>
  <p class="mb-4 text-sm mx-auto">
      Esqueceu sua senha?
        <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradient" style="text-decoration:none"> Redefinir minha senha</a>
  </p>
    <p class="mb-4 text-sm mx-auto">
        <a asp-action="CriarContaPage" asp-controller="Login" class="text-primary text-gradient" style="text-decoration:none"> Crie sua conta</a>
    </p>
  <button type="submit"  class="btn btn-success">Entrar</button>
</form>